version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend-container
    ports:
      - "8080:8080"
    environment:
      - MONGO_URI=mongodb://mongo:27017/tutorialsdb
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: frontend-container
    ports:
      - "4200:80"
    depends_on:
      - backend

  mongo:
    image: mongo:6
    container_name: mongo-container
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
